.list-container{
    position: fixed; 
    height: 100vh;
    width: calc(100vw - (50px + 20vw));
    left: calc(50px + 20vw);
}
.list-table{
    border: 2px rgba(255, 255, 255, 0.3) solid;
    background-image: linear-gradient(#020215, #020219);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    width: 70vw;
    margin: auto auto;
    align-items: center;
}
.list-item{
    border: 2px rgba(255, 255, 255) solid;
    background-image: linear-gradient(#020215, #020219);
}